---
title: "Dataframe"
author: "Palaniappan S"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [20]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [21]:
 a=(            [ [2, 3, 1],
              [4, 9, 2],
              [8, 27, 4],
              [16, 1, 1]])
a

[[2, 3, 1], [4, 9, 2], [8, 27, 4], [16, 1, 1]]

In [22]:
row_names = ['first', 'second', 'third', 'fourth']
col_names = ['A', 'B', 'C']
df = pd.DataFrame( a,index=row_names, columns=col_names)
df

         A   B  C
first    2   3  1
second   4   9  2
third    8  27  4
fourth  16   1  1

In [23]:
df.mean()

A     7.5
B    10.0
C     2.0
dtype: float64

In [24]:
df.var()

A     38.333333
B    140.000000
C      2.000000
dtype: float64

In [25]:
df.mean(axis=1)

first      2.0
second     5.0
third     13.0
fourth     6.0
dtype: float64

In [26]:
df.var(axis=1)

first       1.0
second     13.0
third     151.0
fourth     75.0
dtype: float64

In [27]:
df['A']

first      2
second     4
third      8
fourth    16
Name: A, dtype: int64

In [28]:
df['A'].mean()

7.5

In [29]:
df['A'].var()

38.333333333333336

In [30]:
df.values

array([[ 2,  3,  1],
       [ 4,  9,  2],
       [ 8, 27,  4],
       [16,  1,  1]])

In [31]:
df.to_numpy()

array([[ 2,  3,  1],
       [ 4,  9,  2],
       [ 8, 27,  4],
       [16,  1,  1]])

In [32]:
df.describe()

               A         B         C
count   4.000000   4.00000  4.000000
mean    7.500000  10.00000  2.000000
std     6.191392  11.83216  1.414214
min     2.000000   1.00000  1.000000
25%     3.500000   2.50000  1.000000
50%     6.000000   6.00000  1.500000
75%    10.000000  13.50000  2.500000
max    16.000000  27.00000  4.000000

In [33]:
df.describe().at['mean', 'A']

7.5

In [34]:
df.describe().at['50%', 'B']

6.0