---
title: "Window-Function&Customisation"
author: "Palaniappan S"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [1]:
import numpy as np
import scipy.stats
import pandas as pd
import sklearn

In [2]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
df.rolling(window=3).mean()

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.311467 -1.033477  0.871825 -0.992692
2000-01-04  0.854701 -1.056851  0.662261  0.516942
2000-01-05  0.774725 -0.189442  0.136878  0.577512
2000-01-06 -0.335505  0.219438 -0.733072  0.809357
2000-01-07 -1.208347  0.589643 -0.192675  0.471429
2000-01-08 -1.383454  0.003680  0.496591  0.161725
2000-01-09 -1.016053 -0.410407  0.509543  0.557628
2000-01-10 -0.730760 -0.034967 -0.407383 -0.074819

In [3]:
df.expanding(min_periods=3).mean()

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.311467 -1.033477  0.871825 -0.992692
2000-01-04  0.569946 -1.135858  0.587301 -0.226914
2000-01-05  0.329775 -0.647575  0.165601 -0.277195
2000-01-06 -0.012019 -0.407019  0.069376 -0.091668
2000-01-07 -0.192180 -0.396358  0.253026  0.072376
2000-01-08 -0.312686 -0.403354  0.289722 -0.112600
2000-01-09 -0.346697 -0.408149  0.216099  0.124764
2000-01-10 -0.353754 -0.287941  0.054903  0.028217

In [4]:
df.ewm(com=0.5).mean()

                   A         B         C         D
2000-01-01 -0.284317 -1.372879  0.362422 -2.458484
2000-01-02 -0.364315 -1.315721  0.131816 -1.109642
2000-01-03  1.002311 -0.703140  1.562323 -0.244204
2000-01-04  1.233885 -1.202547  0.328024  1.318167
2000-01-05 -0.014448  0.476433 -0.909888  0.115561
2000-01-06 -1.153704  0.689609 -0.577336  0.596493
2000-01-07 -1.233368  0.007966  0.711425  0.903395
2000-01-08 -1.181935 -0.298944  0.601523 -0.637390
2000-01-09 -0.806483 -0.397323 -0.048119  1.136746
2000-01-10 -0.547000  0.396860 -0.946626 -0.181578

In [5]:
pd.get_option("display.max_rows")

60

In [6]:
pd.get_option("display.max_columns")

20

In [7]:
pd.set_option("display.max_rows",80)

print (pd.get_option("display.max_rows"))

80

In [8]:
pd.set_option("display.max_columns",30)

print (pd.get_option("display.max_columns"))

30

In [9]:
pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

60

In [10]:
pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [12]:
with pd.option_context("display.max_rows",10):
   print(pd.get_option("display.max_rows"))

10