---
title: "Statistical-Function"
author: "Palaniappan S"
date: 2020-09-04
description: "-"
type: technical_note
draft: false
---

In [2]:
import numpy as np
import scipy.stats
import pandas as pd
import sklearn

In [3]:
s = pd.Series([1,2,3,4,5,4])
print (s.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [4]:
df = pd.DataFrame(np.random.randn(5, 2))
df.pct_change()

          0          1
0       NaN        NaN
1 -0.288289 -43.839522
2 -1.513995  -0.874372
3  4.261274  12.072874
4 -0.888029  -1.649426

In [5]:
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print (s1.cov(s2))

0.2525814828324182

In [6]:
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (frame['a'].cov(frame['b']))
print (frame.cov())

-0.2619811929124795
          a         b         c         d         e
a  0.942075 -0.261981 -0.117061 -0.434967  0.263974
b -0.261981  2.521208 -0.307216  0.337377  0.122552
c -0.117061 -0.307216  0.825823  0.358778 -0.032586
d -0.434967  0.337377  0.358778  1.235682  0.099762
e  0.263974  0.122552 -0.032586  0.099762  0.979503

In [7]:
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print (frame['a'].corr(frame['b']))
print (frame.corr())

0.04652251241079996
          a         b         c         d         e
a  1.000000  0.046523 -0.150956  0.668061  0.164873
b  0.046523  1.000000 -0.218552 -0.096044  0.151963
c -0.150956 -0.218552  1.000000 -0.084925 -0.456316
d  0.668061 -0.096044 -0.084925  1.000000  0.230871
e  0.164873  0.151963 -0.456316  0.230871  1.000000

In [9]:
s = pd.Series(np.random.randn(5), index=list('abcde'))
s['d'] = s['b'] # so there's a tie
s.rank()

a    5.0
b    2.5
c    1.0
d    2.5
e    4.0
dtype: float64